<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Listado de paises</h1>
        <ul>
            
            <% for (let i=0;i<provincias.provincias.length; i++){ %>
                <li>
                   
                    
                    <p> <%= provincias.provincias[i].nombre %> </p>
                    

                    
                        
                    
                </li>
            <% }%>
            <% for (let i=0;i<countries.length; i++){ %>
                <li>
                   
                    
                    <p><%= countries[i].name %> </p>
                    <img src=<%=countries[i].flag%> width=200px>

                    
                        
                    
                </li>
            <% }%>

        </ul>
    
</body>
</html>